#botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% 0 38% 0;
    gap: 3rem;
}

#animais-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25% 0;
    gap: 5rem;
}

#animais-principal div{
    width: 350px;
    display: flex;
    justify-content: center;
}

#animais-principal img{
    max-width: 20vw;
    margin: 4%;
}

#perdido a img, #encontrado a img, #cadastro a img{
    max-width: 11vw;
}

#perdido a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    background-color: #7AB5EB;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    font-family: var(--font-base);
    font-weight: 900;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.375);
    text-align: center;
    padding: 1.5rem;
}

#encontrado a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    background-color: var(--cor-primaria);
    width: 250px;
    height: 70px;
    border-radius: 10px;
    font-family: var(--font-base);
    font-weight: 900;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.375);
    text-align: center;
    padding: 1.5rem;
}

#cadastro a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    background-color: #F9B788;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    font-family: var(--font-base);
    font-weight: 900;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.375);
    text-align: center;
    padding: 1.5rem;
}
