@import url(../css-petsos/header.css);
@import url(../css-petsos/footer.css);
@import url(../css-petsos/principal.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
@import url(../css-petsos/usuario.css);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
html, body{
    font-size:62.5%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

:root{
    --cor-primaria:#C9DCBF;
    --font-base:"Roboto",sans-serif;
    --color-font: #1e1e1e
}
main{
    height: 100%;
    background-color: #EBEBD6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h2{
    font-family: var(--font-base);
    color: var(--color-font);
    font-size: 2rem;
    font-weight: 700;
}

h3{
    font-family: var(--font-base);
    color: var(--color-font);
    font-size: 1.6rem;
}

h4{
    font-family: var(--font-base);
    color: var(--color-font);
    font-weight: 600;
    font-size: 1.3rem;
}

@media(min-width:601px){
    .container{
        gap: 1rem;
        height: 7rem;
        font-size: 1.5rem;
    }

    footer{
        font-size: 1.3rem;
        height:6rem;
        padding: 3rem;
    }

    h2{
        font-size: 2.7rem;
    }

    h3{
        font-size: 2rem;
    }

    h4{
        font-size: 1.6rem;
    }

    #perdido a{
        gap: 1rem;
        width: 350px;
        height: 90px;
        font-size: 2rem;
        padding: 1.7rem;
    }
    #encontrado a{
        gap: 0rem;
        width: 350px;
        height: 90px;
        font-size: 2rem;
        padding: 1.7rem;
    }

    #cadastro a{
        gap: 3.5rem;
        width: 350px;
        height: 90px;
        font-size: 2rem;
        padding: 1.7rem;
    }

    #animais-principal{
        margin: 5%;
    }
    #animais-principal div{
        margin-top: 10%;
    }

    #cadastrar{
        font-size: 2.5rem;
        margin:5%;
    }

    #cadastrar h2{
        margin-right: 22%;
    }

    #labelNome, #labelTelefone, #labelEmail, #labelCpf, #labelSenha{
        font-size: 1.7rem;
    }

    #frmCadastro #preencher{
        padding: 4rem;
        width: 400px;
    }

    #campos input{
        padding: 7px;
        min-width: 200px;
        font-size: 1.5rem;
    }

    #campos{
        padding-top: 17px;
    }

    #campos label{
        margin-top: 17px;
    }

    #campos input:focus + label{
        font-size: 12px;
    }

    #botao button{
        margin-top: 35% ;   
        width: 280px;
        height: 65px;
        font-size: 2.5rem;
    }
    #btnfoto{
        padding: 4rem;
        gap: 2rem;
        width: 250px;
        height: 180px;
        font-size: 1.5rem;
    }
    #btnfoto i{
        font-size: 5rem;
    }

    #previewFoto{
        display: none;
        width: 250px;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media(min-width:992px){
    .container{
        gap: 2rem;
        height: 9rem;
        font-size: 1.8rem;
    }

    footer{
        font-size: 1.6rem;
        height: 9rem;
        padding: 5rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2.5rem;
    }

    h4{
        font-size: 2rem;
    }

    #botoes{
        flex-direction: row;
        gap: 0;
        justify-content: center;
        margin: 10%;
    }

    #perdido a, #encontrado a, #cadastro a{
       width: 300px;
       height: 130px;
       margin: 2rem;
    }

    #animais-principal img{
        max-width: 20vw;
        margin: 0 10%;
    }

    #cadastrar{
        font-size: 4rem;
        margin:5%;
        margin-bottom: 0;
    }

    #cadastrar h2{
        margin-right: 25%;
    }

    #labelNome, #labelTelefone, #labelEmail, #labelCpf, #labelSenha{
        font-size: 2rem;
    }

    #frmCadastro #preencher{
        padding: 5rem;
        width: 700px;
    }

    #campos input{
        padding: 9px;
        min-width: 250px;
        font-size: 1.8rem;
    }

    #campos{
        padding-top: 20px;
    }

    #campos label{
        margin-top: 20px;
    }

    #campos input:focus + label{
        font-size: 16px;
    }

    #botao button{
        margin: 10% 0;
        margin-top: 40%;   
        width: 380px;
        height: 85px;
        font-size: 2.5rem;
    }
    #btnfoto{
        padding: 4.2rem;
        gap: 2rem;
        width: 380px;
        height: 200px;
        font-size: 1.8rem;
    }
    #btnfoto i{
        font-size: 5.5rem;
    }

    #previewFoto{
        display: none;
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media(min-width:1300px){
    .container{
        gap: 5rem;
        height: 17rem;
        font-size: 2rem;
    }

    footer{
        font-size: 2rem;
        height: 11rem;
        padding: 6rem;
    }

    h2{
        font-size: 3.3rem;
    }

    h3{
        font-size: 2.8rem;
    }

    h4{
        font-size: 2.5rem;
    }       

    #perdido a, #encontrado a, #cadastro a{
       width: 400px;
       height: 250px;
       font-size: 2rem;
    }

    #animais-principal{
        margin: 2% 0 0 0;
    }

    #cadastrar{
        font-size: 5rem;
    }

    #labelNome, #labelTelefone, #labelEmail, #labelCpf, #labelSenha{
        font-size: 2.5rem;
    }

    #frmCadastro #preencher{
        padding: 5.5rem;
        width: 1000px;
    }

    #campos input{
        padding: 12px;
        min-width: 280px;
        font-size: 2rem;
    }

    #campos{
        padding-top: 25px;
    }

    #campos label{
        margin-top: 25px;
    }

    #campos input:focus + label{
        font-size: 19px;
    }

    #btnfoto{
        width: 380px;
        height: 200px;
    }

    #previewFoto{
        display: none;
        width: 380px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
}