@import url(../css-petsos/header.css);
@import url(../css-petsos/footer.css);
@import url(../css-petsos/principal.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
@import url(../css-petsos/usuario.css);
@import url(../css-petsos/perfil.css);
@import url(../css-petsos/perdido.css);
@import url(../css-petsos/encontrado.css);
@import url(../css-petsos/detalhes.css);
@import url(../css-petsos/perfil.css);
*{    
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
html, body{
    font-size:62.5%;
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
}

:root{
    --cor-primaria:#C9DCBF;
    --font-base:"Roboto",sans-serif;
    --color-font: #1e1e1e
}
main{
    height: 100%;
    background-color: #EBEBD6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h2{
    font-family: var(--font-base);
    color: var(--color-font);
    font-size: 2rem;
    font-weight: 700;
}

h3{
    font-family: var(--font-base);
    color: var(--color-font);
    font-size: 1.6rem;
}

h4{
    font-family: var(--font-base);
    color: var(--color-font);
    font-weight: 600;
    font-size: 1.3rem;
}

#voltar{
    font-size: 1.5rem;
    margin:5%;
    color: var(--color-font);
}

@media(min-width:601px){
    html, body{
        height: 120%;
    }

    .container{
        gap: 1rem;
        height: 7rem;
        font-size: 1.5rem;
    }

    footer{
        font-size: 1.3rem;
        height:6rem;
        padding: 3rem;
    }

    h2{
        font-size: 2.7rem;
    }

    h3{
        font-size: 2rem;
    }

    h4{
        font-size: 1.6rem;
    }

    #perdido a{
        gap: 1rem;
        width: 350px;
        height: 90px;
        font-size: 2rem;
        padding: 1.7rem;
    }
    #encontrado a{
        gap: 0rem;
        width: 350px;
        height: 90px;
        font-size: 2rem;
        padding: 1.7rem;
    }

    #cadastro a{
        gap: 3.5rem;
        width: 350px;
        height: 90px;
        font-size: 2rem;
        padding: 1.7rem;
    }

    #animais-principal{
        margin: 5%;
    }
    #animais-principal div{
        margin-top: 10%;
    }

    #cadastrar{
        font-size: 2.5rem;
        margin:5%;
    }

    #cadastrar h2{
        margin-right: 22%;
    }

    #labelNome, #labelTelefone, #labelEmail, #labelCpf, #labelSenha{
        font-size: 1.7rem;
    }

    #frmCadastro #preencher{
        padding: 4rem;
        width: 400px;
    }

    #campos input{
        padding: 7px;
        min-width: 200px;
        font-size: 1.5rem;
    }

    #campos{
        padding-top: 17px;
    }

    #campos label{
        margin-top: 17px;
    }

    #campos input:focus + label{
        font-size: 12px;
    }

    #botao button{
        margin-top: 35% ;   
        width: 280px;
        height: 65px;
        font-size: 2.5rem;
    }
    #btnfoto{
        padding: 4rem;
        gap: 2rem;
        width: 250px;
        height: 180px;
        font-size: 1.5rem;
    }
    #btnfoto i{
        font-size: 5rem;
    }

    #cadastrar-animal{
        font-size: 2.5rem;
        margin:5%;
    }

    #cadastrar-animal h2{
        margin-right: 22%;
    }

    #labelNome-animal, #labelData-animal, #labelDescricao-animal{
        font-size: 1.7rem;
    }

    #frmCadastro-animal #preencher-animal{
        padding: 4rem;
        width: 400px;
    }

    #campos-animal input{
        padding: 7px;
        min-width: 200px;
        font-size: 1.5rem;
    }

    #campos-animal{
        padding-top: 17px;
    }

    #campos-animal label{
        margin-top: 17px;
    }

    #campos-animal input:focus + label{
        font-size: 12px;
    }

    #botao-animal button{
        margin-top: 35% ;   
        width: 280px;
        height: 65px;
        font-size: 2.5rem;
    }
    #btnfoto-animal{
        padding: 4rem;
        gap: 2rem;
        width: 250px;
        height: 180px;
        font-size: 1.5rem;
    }
    #btnfoto-animal i{
        font-size: 5rem;
    }

    #previewFoto-animal{
        display: none;
        width: 250px;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
    }

    #msgError-animal{
        width: 33rem; 
        height:6rem; 
        padding: 1.5rem;
    }
    #msgSuccess-animal{
        width: 33rem; 
        height:6rem; 
        padding: 1.5rem;
    }

    #cadastrar-encontrado{
        font-size: 2.5rem;
        margin:5%;
    }

    #cadastrar-encontrado h2{
        margin-right: 22%;
    }

    #labelNome-encontrado, #labelData-encontrado, #labelDescricao-encontrado{
        font-size: 1.7rem;
    }

    #frmCadastro-encontrado #preencher-encontrado{
        padding: 4rem;
        width: 400px;
    }

    #campos-encontrado input{
        padding: 7px;
        min-width: 200px;
        font-size: 1.5rem;
    }

    #campos-encontrado{
        padding-top: 17px;
    }

    #campos-encontrado label{
        margin-top: 17px;
    }

    #campos-encontrado input:focus + label{
        font-size: 12px;
    }

    #botao-encontrado button{
        margin-top: 35% ;   
        width: 280px;
        height: 65px;
        font-size: 2.5rem;
    }
    #btnfoto-encontrado{
        padding: 4rem;
        gap: 2rem;
        width: 250px;
        height: 180px;
        font-size: 1.5rem;
    }
    #btnfoto-encontrado i{
        font-size: 5rem;
    }

    #previewFoto-encontrado{
        display: none;
        width: 250px;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
    }

    #msgError-encontrado{
        width: 33rem; 
        height:6rem; 
        padding: 1.5rem;
    }
    #msgSuccess-encontrado{
        width: 33rem; 
        height:6rem; 
        padding: 1.5rem;
    }

    #voltar{
        font-size: 2rem;
    }

    #perfil{
        gap: 22%;
    }

    #fotoPerfil{
        margin-top: 15%;
        width: 140px;
        height: 140px;
    }

    #perfil div{
        margin: 5%;
        gap: 1rem;
    }

    #perfil div p{
        font-size: 1.5rem;
    }

    #pets{
        margin: 5%;
    }

    #bartolomeu, #clodomiro, #garfhielddhy{
        margin:5%;
        width: 480px;
        height: 150px;
    }

    #bartolomeu p, #clodomiro p, #garfhielddhy p{
        font-size: 1.5rem;
    }

    #detalhes{
        margin: 5% 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 22.5%;
    }

    #detalhe-animal{
        width: 50rem;
        height: 50rem;
        margin: 5% 0;
    }

    #detalhe-animal img{
        border-radius: 10px;
        width: 25rem;
        height: 19rem;
    }

    #detalhe-animal p{
        font-size: 1.5rem;
    }
    #detalhe-animal p i{
        font-size: 1.7rem;
        margin: 1rem;
    }

}

@media(min-width:992px){
    html, body{
        height: 130%;
    }

    .container{
        gap: 2rem;
        height: 9rem;
        font-size: 1.8rem;
    }

    footer{
        font-size: 1.6rem;
        height: 9rem;
        padding: 5rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2.5rem;
    }

    h4{
        font-size: 2rem;
    }

    #botoes{
        flex-direction: row;
        gap: 0;
        justify-content: center;
        margin: 10%;
    }

    #perdido a, #encontrado a, #cadastro a{
       width: 300px;
       height: 130px;
       margin: 2rem;
    }

    #animais-principal img{
        max-width: 20vw;
        margin: 0 10%;
    }

    #cadastrar{
        font-size: 4rem;
        margin:5%;
        margin-bottom: 0;
    }

    #cadastrar h2{
        margin-right: 25%;
    }

    #labelNome, #labelTelefone, #labelEmail, #labelCpf, #labelSenha{
        font-size: 2rem;
    }

    #frmCadastro #preencher{
        padding: 5rem;
        width: 700px;
    }

    #campos input{
        padding: 9px;
        min-width: 250px;
        font-size: 1.8rem;
    }

    #campos{
        padding-top: 20px;
    }

    #campos label{
        margin-top: 20px;
    }

    #campos input:focus + label{
        font-size: 16px;
    }

    #botao button{
        margin: 10% 0;
        margin-top: 40%;   
        width: 380px;
        height: 85px;
        font-size: 2.5rem;
    }
    #btnfoto{
        padding: 4.2rem;
        gap: 2rem;
        width: 380px;
        height: 200px;
        font-size: 1.8rem;
    }
    #btnfoto i{
        font-size: 5.5rem;
    }

    #previewFoto{
        display: none;
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    #msgError{
        margin: 2%;
        width: 40rem; 
        height:8rem; 
        padding: 1.6rem;
        justify-content: center;
    }
    #msgSuccess{
        margin: 2%;
        width: 40rem; 
        height:8rem; 
        padding: 1.6rem;
        justify-content: center;
    }
    #msgErro{
        font-size: 2rem; 
    }
    #msgSuce{
        font-size: 2rem; 

    }

    #cadastrar-animal{
        font-size: 4rem;
        margin:5%;
        margin-bottom: 0;
    }

    #cadastrar-animal h2{
        margin-right: 25%;
    }

    #labelNome-animal, #labelData-animal, #labelDescricao-animal{
        font-size: 2rem;
    }

    #frmCadastro-animal #preencher-animal{
        padding: 5rem;
        width: 700px;
    }

    #campos-animal input{
        padding: 9px;
        min-width: 250px;
        font-size: 1.8rem;
    }

    #campos-animal{
        padding-top: 20px;
    }

    #campos-animal label{
        padding-top: 20px;
    }

    #campos-animal input:focus + label{
        font-size: 16px;
    }

    #botao-animal button{
        margin-top: 28%;   
        width: 280px;
        height: 65px;
        font-size: 2.5rem;
    }
    #btnfoto-animal{
        padding: 4.2rem;
        gap: 2rem;
        width: 380px;
        height: 200px;
        font-size: 1.8rem;
    }
    #btnfoto-animal i{
        font-size: 5.5rem;
    }

    #previewFoto-animal{
        display: none;
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    #msgError-animal{
        margin: 2%;
        width: 40rem; 
        height:8rem; 
        padding: 1.6rem;
        justify-content: center;
    }
    #msgSuccess-animal{
        margin: 2%;
        width: 40rem; 
        height:8rem; 
        padding: 1.6rem;
        justify-content: center;
    }
    #msgErro-animal{
            font-size: 2rem; 
        }
    #msgSuce-animal{
        font-size: 2rem; 

    }

    #cadastrar-encontrado{
        font-size: 4rem;
        margin:5%;
        margin-bottom: 0;
    }

    #cadastrar-encontrado h2{
        margin-right: 25%;
    }

    #labelNome-encontrado, #labelData-encontrado, #labelDescricao-encontrado{
        font-size: 2rem;
    }

    #frmCadastro-encontrado #preencher-encontrado{
        padding: 5rem;
        width: 700px;
    }

    #campos-encontrado input{
        padding: 9px;
        min-width: 250px;
        font-size: 1.8rem;
    }

    #campos-encontrado{
        padding-top: 20px;
    }

    #campos-encontrado label{
        padding-top: 20px;
    }

    #campos-encontrado input:focus + label{
        font-size: 16px;
    }

    #botao-encontrado button{
        margin-top: 28%;   
        width: 280px;
        height: 65px;
        font-size: 2.5rem;
    }
    #btnfoto-encontrado{
        padding: 4.2rem;
        gap: 2rem;
        width: 380px;
        height: 200px;
        font-size: 1.8rem;
    }
    #btnfoto-encontrado i{
        font-size: 5.5rem;
    }

    #previewFoto-encontrado{
        display: none;
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    #msgError-encontrado{
        margin: 2%;
        width: 40rem; 
        height:8rem; 
        padding: 1.6rem;
        justify-content: center;
    }
    #msgSuccess-encontrado{
        margin: 2%;
        width: 40rem; 
        height:8rem; 
        padding: 1.6rem;
        justify-content: center;
    }
    #msgErro-encontrado{
            font-size: 2rem; 
        }
    #msgSuce-encontrado{
        font-size: 2rem; 

    }

    #perfil{
        gap: 24%;
    }

    #perfil div{
        margin: 5%;
        gap: 1.3rem;
    }

    #perfil div p{
        font-size: 1.8rem;
    }

    #bartolomeu, #clodomiro, #garfhielddhy{
        margin:5%;
        width: 680px;
        height: 190px;
    }

    #bartolomeu p, #clodomiro p, #garfhielddhy p{
        font-size: 1.8rem;
    }


    #detalhes{
        margin: 0;
        gap: 26%;
    }

    #detalhe-animal{
        width: 50rem;
        height: 50rem;
        margin: 5% 0;
    }

    #detalhe-animal img{
        border-radius: 10px;
        width: 25rem;
        height: 19rem;
    }

    #detalhe-animal p{
        font-size: 1.5rem;
    }
    #detalhe-animal p i{
        font-size: 1.7rem;
        margin: 1.2rem;
    }
}

@media(min-width:1300px){
    html, body{
        height: 150%;
    }

    .container{
        gap: 5rem;
        height: 17rem;
        font-size: 2rem;
    }

    footer{
        font-size: 2rem;
        height: 11rem;
        padding: 6rem;
    }

    h2{
        font-size: 3.3rem;
    }

    h3{
        font-size: 2.8rem;
    }

    h4{
        font-size: 2.5rem;
    }       

    #perdido a, #encontrado a, #cadastro a{
       width: 400px;
       height: 250px;
       font-size: 2rem;
    }

    #animais-principal{
        margin: 2% 0 0 0;
    }

    #cadastrar{
        
        font-size: 5rem;
    }

    #labelNome, #labelTelefone, #labelEmail, #labelCpf, #labelSenha{
        font-size: 2.5rem;
    }

    #frmCadastro #preencher{
        padding: 5.5rem;
        width: 1000px;
    }

    #campos input{
        padding: 12px;
        min-width: 280px;
        font-size: 2rem;
    }

    #campos{
        padding-top: 25px;
    }

    #campos label{
        margin-top: 25px;
    }

    #campos input:focus + label{
        font-size: 19px;
    }

    #btnfoto{
        width: 380px;
        height: 250px;
    }

    #previewFoto{
        display: none;
        width: 380px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    #msgError{
        margin: 7% 0 0 0;
        width: 80rem; 
        height:9rem; 
        padding: 2.7rem;
        justify-content: center;
    }
    #msgSuccess{
        margin: 7% 0 0 0;
        width: 80rem; 
        height:9rem; 
        padding: 2.7rem;
        justify-content: center;
    }
    #msgErro{
        font-size: 2.5rem; 
    }
    #msgSuce{
        font-size: 2.5rem; 

    }

    #cadastrar-animal{
        font-size: 5rem;
    }

    #cadastrar-animal h2{
        font-size: 3.3rem;
        margin-right: 25%;
    }

    #labelNome-animal, #labelData-animal, #labelDescricao-animal{
        font-size: 2.5rem;
    }

    #frmCadastro-animal #preencher-animal{
        padding: 5.5rem;
        width: 1000px
    }

    #campos-animal input{
        padding: 12px;
        min-width: 280px;
        font-size: 2rem;
    }

    #campos-animal{
        padding-top: 25px;
    }

    #campos-animal label{
       padding-top: 25px;
    }

    #campos-animal input:focus + label{
        font-size: 19px;
    }

    #botao-animal button{
        margin-top: 28%;   
        width: 280px;
        height: 65px;
        font-size: 2.5rem;
    }
    #btnfoto-animal{
        padding:6.5rem;
        gap: 2rem;
        width: 380px;
        height: 250px;
        font-size: 1.8rem;
    }
    #btnfoto-animal i{
        font-size: 5.5rem;
    }

    #previewFoto-animal{
        display: none;
        width: 380px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    #msgError-animal{
        margin: 7% 0 0 0;
        width: 80rem; 
        height:9rem; 
        padding: 2.7rem;
        justify-content: center;
    }
    #msgSuccess-animal{
        margin: 7% 0 0 0;
        width: 80rem; 
        height:9rem; 
        padding: 2.7rem;
        justify-content: center;
    }
    #msgErro-animal{
        font-size: 2.5rem; 
        }
    #msgSuce-animal{
        font-size: 2.5rem;  

    }

    #cadastrar-encontrado{
        font-size: 5rem;
    }

    #cadastrar-encontrado h2{
        font-size: 3.3rem;
        margin-right: 25%;
    }

    #labelNome-encontrado, #labelData-encontrado, #labelDescricao-encontrado{
        font-size: 2.5rem;
    }

    #frmCadastro-encontrado #preencher-encontrado{
        padding: 5.5rem;
        width: 1000px
    }

    #campos-encontrado input{
        padding: 12px;
        min-width: 280px;
        font-size: 2rem;
    }

    #campos-encontrado{
        padding-top: 25px;
    }

    #campos-encontrado label{
       padding-top: 25px;
    }

    #campos-encontrado input:focus + label{
        font-size: 19px;
    }

    #botao-encontrado button{
        margin-top: 28%;   
        width: 280px;
        height: 65px;
        font-size: 2.5rem;
    }
    #btnfoto-encontrado{
        padding:6.5rem;
        gap: 2rem;
        width: 380px;
        height: 250px;
        font-size: 1.8rem;
    }
    #btnfoto-encontrado i{
        font-size: 5.5rem;
    }

    #previewFoto-encontrado{
        display: none;
        width: 380px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    #msgError-encontrado{
        margin: 7% 0 0 0;
        width: 80rem; 
        height:9rem; 
        padding: 2.7rem;
        justify-content: center;
    }
    #msgSuccess-encontrado{
        margin: 7% 0 0 0;
        width: 80rem; 
        height:9rem; 
        padding: 2.7rem;
        justify-content: center;
    }
    #msgErro{
        font-size: 2.5rem; 
        }
    #msgSuce{
        font-size: 2.5rem;  

    }

    #voltar{
        font-size: 4rem;
    }

    #perfil{
        gap: 22%;
    }

    #fotoPerfil{
        width: 180px;
        height: 180px;
        border: 4px solid #000000c0;
    }

    #perfil div{
        margin: 5%;
        gap: 1.5rem;
    }

    #perfil div p{
        font-size: 2rem;
    }

    #bartolomeu, #clodomiro, #garfhielddhy{
        margin:5%;
        width: 980px;
        height: 270px;
    }

    #bartolomeu p, #clodomiro p, #garfhielddhy p{
        font-size: 2rem;
    }

    #detalhes{
        margin: 0;
        gap: 28%;
    }

    #detalhe-animal{
        width: 70rem;
        height: 50rem;
        margin: 5% 0;
    }

    #detalhe-animal img{
        border-radius: 10px;
        width: 25rem;
        height: 19rem;
    }

    #detalhe-animal p{
        font-size: 1.7rem;
    }
    #detalhe-animal p i{
        font-size: 2rem;
        margin: 1.2rem;
    }
}