@import url(../css-obrigatorio/header.css);
@import url(../css-obrigatorio/footer.css);
@import url(../css-obrigatorio/integrantes.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
@import url(../css-obrigatorio/FAQ.css);
@import url(../css-obrigatorio/contato.css);
@import url(../css-obrigatorio/index.css);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none
}
html, body{
    font-size:62.5%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

:root{
    --cor-primaria:#C9DCBF;
    --font-base:"Roboto",sans-serif;
    --color-font: #1e1e1e
}
main{
    height: 100%;
    background-image: url("../../assets/img/img-obrigatorias/integrantes/clinicacel.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: antiquewhite;
}

h2{
    font-family: var(--font-base);
    color: var(--color-font);
    font-size: 1.8rem;
}

h3{
    font-family: var(--font-base);
    color: var(--color-font);
    font-size: 1.4rem;
}

h4{
    font-family: var(--font-base);
    color: var(--color-font);
    font-weight: 600;
    font-size: 1.3rem;
}

.botao-menu{
    background-color: var(--cor-primaria);
    margin: 1rem;
    width:150px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:2px 2px 5px var(--color-font)
}

#links-navegacao{
    display: flex;
    justify-content: center;
    margin: 5%;
    text-align: center;
}

#links-navegacao ul li a{
    color: var(--color-font);
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 1.2rem;
}

.botao-da-pagina{
    background-color: #e7e7e7f3;
    margin: 1rem;
    width:150px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:2px 2px 5px var(--color-font)
}