@import url(../css-obrigatorio/header.css);
@import url(../css-obrigatorio/footer.css);
@import url(../css-obrigatorio/integrantes.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none
}
html, body{
    font-size:62.5%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

:root{
    --cor-primaria:#C9DCBF;
    --font-base:"Roboto",sans-serif;
    --color-font: #1e1e1e
}
main{
    height: 100%;
    background-image: url("../../assets/img/img-obrigatorias/integrantes/clinicacel.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: antiquewhite;
}

h2{
    font-family: var(--font-base);
    color: var(--color-font);
    font-size: 1.5;
}

h3{
    font-family: var(--font-base);
    color: var(--color-font);
    font-size: 1.1rem;
}