@import url(../css-obrigatorio/header.css);
@import url(../css-obrigatorio/footer.css);
@import url(../css-obrigatorio/integrantes.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
@import url(../css-obrigatorio/FAQ.css);
@import url(../css-obrigatorio/contato.css);
@import url(../css-obrigatorio/index.css);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none
}
html, body{
    font-size:62.5%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

:root{
    --cor-primaria:#C9DCBF;
    --font-base:"Roboto",sans-serif;
    --color-font: #1e1e1e
}
main{
    height: 100%;
    background-image: url("../../assets/img/img-obrigatorias/integrantes/clinicacel.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: antiquewhite;
}

h2{
    font-family: var(--font-base);
    color: var(--color-font);
    font-size: 1.8rem;
}

h3{
    font-family: var(--font-base);
    color: var(--color-font);
    font-size: 1.4rem;
}

h4{
    font-family: var(--font-base);
    color: var(--color-font);
    font-weight: 600;
    font-size: 1.3rem;
}

.botao-menu{
    background-color: var(--cor-primaria);
    margin: 1rem;
    width:150px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:2px 2px 5px var(--color-font)
}

#links-navegacao{
    display: flex;
    justify-content: center;
    margin: 5%;
    text-align: center;
}

#links-navegacao ul li a{
    color: var(--color-font);
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 1.2rem;
}

.botao-da-pagina{
    background-color: #e7e7e7f3;
    margin: 1rem;
    width:150px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:2px 2px 5px var(--color-font)
}

@media(min-width:601px){
    .container{
        height: 7rem;
        font-size: 1.5rem;
    }

    footer{
        font-size: 1.3rem;
        height: 6rem;
    }
    h2{
        font-size: 2rem;
    }

    h3{
    font-size: 1.7rem;
    }

    h4{

        font-size: 1.5rem;
    }

    .botao-menu{     
        width:180px;
        height:50px;
    }

    #links-navegacao ul li a{    
        font-weight: 600;
        font-size: 1.5rem;
    }

    .botao-da-pagina{
        width:180px;
        height:50px;
    }

    .titulo-amarelo{
        font-size: 1.7rem;
    }
    #oque-e p{
        font-size: 1.5rem;
    }

    #como-funciona div{
        width: 150px;
        height: 180px;
    }

    #como-funciona div p{
        font-size: 1.4rem;
    }
    #como-funciona div i{
        font-size: 1.7rem;
    }
    #pontos #brilhante div{
        width: 170px;
        height: 50px;
    }
    #pontos{
        display: flex;
        gap: 7rem;
    }

    #beneficios{
        width: 150px;
        text-align: left;
    }

    #beneficios p{
        font-size: 1.4rem;
    }

    #brilhante p{
        font-size: 1.4rem;
    }

    #endereco, #canais-atendimento, #funcionamento, #como-chegar{
        margin: 1rem;
        width: 380px;
    }

    #contatos{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    #endereco p, #canais-atendimento p, #funcionamento p{
        font-size: 1.4rem;
    }

    #como-chegar p a{
        font-size: 1.4rem;
    }

    #canais-atendimento p a{
        font-size: 1.4rem;
    }

    iframe{
        width: 300px;
        height: 180px;
    }

    #caixa-de-duvida{
        margin: 1rem;
        width: 380px;
    }

    #caixa-de-duvida p{
        font-size: 1.4rem;
    }

    #gabriel, #moises, #thiago{   
        width:290px;
        height:495px;
        padding: 1rem;
    }

    #gabriel img, #moises img, #thiago img{
        margin-top: 2rem;
    }

    #gabriel p, #moises p, #thiago p{
        font-size: 1.3rem;
        margin: 4%;
    }

    #gabriel nav a, #moises nav a, #thiago nav a{
        font-size: 1.5rem;
        width: 150px;
        height: 30px;
    }    
}


@media(min-width:992px){
    .container{
        height: 9rem;
        font-size: 1.8rem;
    }

    footer{
        font-size: 1.5rem;
        height: 7.5rem;
    }
    h2{
        font-size: 2.6rem;
    }

    h3{
    font-size: 2rem;
    }

    h4{

        font-size: 1.7rem;
    }

    .botao-menu{
        background-color: var(--cor-primaria);
        margin: 0;
        width:150px;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        box-shadow:0 0;
    }

    #links-navegacao{
        background-color: var(--cor-primaria);
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: center;
    }
    #links-navegacao ul{
        display: flex;
        flex-direction: row;
    }

    #links-navegacao ul li a{
        color: var(--color-font);
        font-family: var(--font-base);
        font-weight: 600;
        font-size: 1.5rem;
    }
    .botao-da-pagina{
        background-color: #ffffff6c;
        margin: 0;
        width:150px;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0;
    }

    .titulo-amarelo{
        font-size: 2rem;
    }
    #oque-e p{
        font-size: 1.7rem;
    }

    #como-funciona div{
        margin: 2% 2%;
        width: 450px;
        height: 90px;
        display: flex;
        gap: 1rem;
    }

    #como-funciona div p{
        font-size: 1.7rem;
        display: flex;
        align-items: center;
    }
    #como-funciona div i{
        font-size: 2rem;
    }
    #pontos #brilhante div{
        width: 450px;
        height: 60px;
    }
    #pontos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7rem;
    }

    #beneficios{
        width: 800px;
        text-align: center;
    }

    #beneficios p{
        font-size: 1.7rem;
    }

    #brilhante p{
        font-size: 1.7rem;
    }

    #endereco, #canais-atendimento, #funcionamento, #como-chegar{
        margin: 3rem;
        width: 480px;
    }

    #endereco p, #canais-atendimento p, #funcionamento p{
        font-size: 1.7rem;
    }

    #como-chegar p a{
        font-size: 1.7rem;
    }

    #canais-atendimento p a{
        font-size: 1.7rem;
    }

    iframe{
        width: 350px;
        height: 190px;
    }

    #caixa-de-duvida{
        margin: 3rem;
        width: 580px;
    }

    #caixa-de-duvida p{
        font-size: 1.7rem;
    }

    #integrantes{
        display: flex;
        flex-direction: row;
    }
    #gabriel, #moises, #thiago{   
        width:290px;
        height:650px;
        padding: 2rem;
        margin: 2%;
    }

    #gabriel img, #moises img, #thiago img{
        margin-top: 2rem;
    }

    #gabriel p, #moises p, #thiago p{
        font-size: 1.7rem;
        margin: 6%;
    }

    #gabriel nav a, #moises nav a, #thiago nav a{
        font-size: 1.5rem;
        width: 250px;
        height: 40px;
    } 
    #gabriel img, #moises img, #thiago img{
        max-width: 20vw;
        margin-top: 1rem;
    }
}

@media(min-width:1300px){

}